body{
    background-color: rgba(245, 245, 245, 0.582);
    box-shadow: 10px 20px 70px grey;
    height: 650px;
}
div{
    margin-left: 450px;
    margin-top: 10px;
    width: 650px;
    height: 400px;
    font-size: small;
    font-weight: bolder;
    padding-top: 20px;
    
}
div img{
    position: absolute;
    width: 650px;
    height: 620px;
    opacity: 50%;
    border: 1px solid rgba(0, 0, 0, 0.63);
    box-shadow: 4px 0px 40px rgba(0, 0, 0, 0.486);
}
div img:hover{
    box-shadow:5px 5px 40px rgba(0, 124, 128, 0.425);
}
.name input{
    position: absolute;
    top: 600px;
    height: 40px;
    width: 110px;
    left: 465px;
    border: none;
     border-right: 30px ridge rgba(0, 0, 0, 0.541);
     box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.747);
     transition: all;
     transition-duration: 1s;
     background-color: rgba(128, 128, 128, 0.212);
}
.name input:hover{
    border-right:20px ridge rgba(0, 128, 0, 0.623) ;
    background-color: rgba(173, 216, 230, 0.568);
    
}
.name input:focus{
    width: 600px;
    outline: none;
}
::placeholder{
    color: black;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
h3{
    position:absolute;
    left: 45%;
    margin-top: 60px;
}